body{
    margin:0;
    padding:0;
    width:100%;
    background: url(./images/coffee-apple.jpg) no-repeat center center fixed;
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;
}

@keyframes jump {
    0%   {transform: translate3d(0,0,0);}
    10%  {transform: translate3d(0,2px,0); }
    100%  {transform: translate3d(0,2px,0); }
}
  .poop {
    animation: jump 1s linear alternate infinite;
  }